
body{
  font-family: Arial, Helvetica;
  margin: 0;
  padding-top: 0;
}
h1{
  color: rgb(207, 50, 23);
  font-size: 50px;
  font-family: "calibri";
}
.menu{
  list-style: none;
  padding: 0;
  background: #f3dbdb;
  width: 50%;
  max-width: 1000px;
}

.menu li a{
  text-decoration: none;
  color: rgb(24, 0, 245);
  padding: 20px;
  display: block;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a:hover{
  background-color: #ef8354;
}