<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!-- Font Scheherazade -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--nuestro css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
</head>

<body>
  <div class="container">
    <nav class="nav-main">
      <img src="/static/img/images/notas.png" alt="TechNews logo" class="nav-brand">
      <ul class="nav-menu">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Detalles de actividad</a>
        </li>
      </ul>
      <ul class="nav-menu-right">
        <!-- Aqui vamos a crear el icono-->
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
          <!--<a href="#">
              <i class="fas fa-users"></i> para mas tarde
            </a>-->
        </li>
      </ul>
    </nav>
    <hr>
  </div>
  <section class="container2">
    <div class="new-card">
      <div>
        <img src="img/Economia.jpg" alt="">
        <h1>actividad 1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/Ejercicio_Mental.png" alt="">
        <h1>actividad 2</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/news1.jpg" alt="">
        <h1>actividad 3</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/news2.jpg" alt="">
        <h1>actividad 4</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/news3.jpg" alt="">
        <h1>actividad 5</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/news4.jpg" alt="">
        <h1>actividad 6</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/Economia.jpg" alt="">
        <h1>actividad 7</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
      <div>
        <img src="img/image-three.jpg" alt="">
        <h1>actividad 8</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure perferendis asperiores voluptates aliquid ipsam
          cumque.</p>
        <a href="#">Ver mas...</i></a>
      </div>
    </div>
  </section>
</body>

</html>