<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!-- Font Scheherazade -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--nuestro css-->
  <link rel="stylesheet" href="/static/css/style7P.css">
</head>

<body>
  <div>
    <nav class="nav-main">
      <img src="/static/img/notas.png" alt="TechNews logo" class="nav-brand">
      <ul class="nav-menu">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Detalles de actividad</a>
        </li>
        <li>
          <a href="#">Crear actividad</a>
        </li>
      </ul>
      <ul class="nav-menu-right">
        <!-- Aqui vamos a crear el icono-->
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
          <!--<a href="#">
              <i class="fas fa-users"></i> para mas tarde
            </a>-->
        </li>
      </ul>
    </nav>
    <hr>
  </div>
  <section class="container"></section>>
    <form action="" class="form-register">
      <label for="">Nombre</label>
      <input type="text" value="nombre de la persona" disabled class="control"><br>
      <label for="">Correo</label>
      <input type="text" value="correo electronico" disabled class="control"><br>
      <label for="">Id: </label>
      <input type="text" value="id estudiante" class="control" disabled><br>
      <label for="">Descripcion</label><br>
      <textarea name="description" id="dscription" cols="30" rows="10">description </textarea>
    </form>
  </section>
</body>

</html>